* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  font-style: italic; */
  background-color: black;
  color: white;
}

.landing-page {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
}

.landing-page-left {
  flex: 1 0 40%;
  width: 100%;
  height: auto;
  flex-direction: column;
  /* 3 lines below are very helpful for centering in a flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.para-1 {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  margin: 25px;
  text-align: center;
  width: 420px;
  font-size: 15px;
}

.hide {
  display: none;
}

.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  border-color: white;
  border-style: solid;
  margin-top: 40px;
}

.circle:hover {
  background-color: white;
}

.circle:hover + .hide {
  display: inline-block;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.factual-text {
  margin-top: 280px;
  color: white;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
}

.landing-page-right {
  display: flex;
  flex: 1 0 60%;
  /* height: 100vh;
  flex-direction: column; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.flamingo-text {
  position: absolute;
  position: absolute;
  height: fit-content;
  margin: -27px 0px 0px 0px;
}

.title-text {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0px 0px -25px 0px;
  text-transform: uppercase;
  color: white;
  font-size: 4.8em;
  font-style: itallic;
  font-weight: 800;
  font-style: italic;
}

.img-hero {
  /* flex: 1 0 70%; */
  object-fit: contain;
  width: auto;
  height: 500px;
  display: flex;
  position: relative;
  top: 32%;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  position: absolute;
  visibility: hidden;
  width: 100vw;
  font-family: "Nunito Sans", sans-serif;
}

.top-bar .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit fit-content;
}

#start-container {
  /* position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

#question-container {
  width: 550px;
  align-items: center;
  justify-content: center;
  display: flex;
  display: block;
  visibility: hidden;
  /* display: none; */
  padding: 20px 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat Alternates", sans-serif;
}

#answerContainer {
  width: 550px;
  align-items: center;
  justify-content: center;
  display: flex;
  display: block;
  visibility: hidden;
  padding: 20px 20px;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  border-radius: 1rem;
  display: block;
  font-size: 18px;
  padding: 10px;
  outline: none;
  border: 1px solid;
  cursor: pointer;
  margin: 4px;
  width: 550px;
  font-family: "Nunito Sans", sans-serif;
  background-color: rgb(193, 70, 41);
  border-color: rgb(193, 70, 41);
  color: white;
}

button:hover {
  border-color: rgb(193, 122, 104);
  background-color: rgb(193, 122, 104);
}

.finished {
  display: flex;
  display: block;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* prevent default */
}

.display-score {
  color: white;
  margin: 50px;
}

.highscores {
  display: flex;
  display: block;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
